<div class="full-width-image-1">
<!-- 
  <div class="logo-wrapper">
    <%#= image_tag 'people.jpg' %>
  </div> -->

</div><!-- /full-width-image-1 -->

<div class="container">
  <div class="row">
    <div class="col-lg-12 section">
      <h1 class="section-heading">NameTag</h1>
      <p class="lead section-lead">High tech introductions for happier parties and better-connected people</p>
      <p class="section-paragraph">Use NameTag at your next party, social event, hackathon, or meetup.  Create an event and post the sign-in link at your event.  Your guests log in on their phones, upload a photo, and are rewarded with an interactive road map to meeting everyone at the event.</p>
    </div>
  </div>
</div>