Your event link is: <%= join_url(@event) %>

<h2>Event Guests:</h2>

<div class="all_guests">  

  <% @event.users.each do |user| %>
    <div class="guest_thumbnail center">
      <figure><%= image_tag user.image %></figure>
      <strong><%= link_to user.first_name, user.facebook_profile_link %></strong><br> 
      <strong><%= user.answers.last.response %></strong>
    </div>
  <% end %>

</div>