<h1>Welcome to the Introduction-O-Matic!</h1>

<ol>
<li><p class="lead">Create an event</p></li>
<li><p class="lead">Get the event link and email your guests</p></li>
<li><p class="lead">Send your guests the link</p></li>
<li><p class="lead">Your guests log in and answer some questions</p></li>
<li><p class="lead">See all your guests and their answers!</p></li>
</ol>

<%= render @event %>