<h1>Welcome to the Introduction-O-Matic!</h1>

<ol>
<li>Create an event</li>
<li>Get the event link and email your guests</li>
<li>Send your guests the link</li>
<li>Your guests log in and answer some questions</li>
<li>See all your guests and their answers!</li>
</ol>

<%= render @event %>
