/*.guest_thumbnail {
	height: auto;
	margin: 10px;
	border: 1px black solid;
	-webkit-box-shadow: 6px 6px 16px rgba(50, 50, 50, 0.74);
  -moz-box-shadow:    6px 6px 16px rgba(50, 50, 50, 0.74);
  box-shadow:         6px 6px 16px rgba(50, 50, 50, 0.74);
	text-align: center;
	float: left;
	background: url('light_grey.png');
}

.all_guests {
	margin: auto;
	height: 600px;
}

#wrap {
	max-width: 800px;
	margin: auto;
	text-align: center;
	background-color: orange;
}*/


.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none; 
    text-align:center;
    color:#fff !important;
    z-index:2;
}